.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.poppins-font {
    font-family: "Poppins", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.manrope-font {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}